<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h>
    <table>
        <tr>
            <th>id</th>
            <th>text</th>
            <th>tag</th>
        </tr>
        <tr th:each="message : ${messages}">
            <td th:text="${message.id}">a</td>
            <td th:text="${message.text}">a</td>
            <td th:text="${message.tag}">a</td>
        </tr>
    </table>
</h>
<div>
    <form th:action="@{/main}" method="get" >
        <p><input type="submit" value="Home"></p>
    </form>
</div>
</body>
</html>