<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>UserPage</title>
</head>
<body>
<div>
    <table>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>first_name</th>
            <th>last_name</th>
        </tr>
            <td th:text="${user.id}">a</td>
            <td th:text="${user.username}">a</td>
            <td th:text="${user.firstName}">a</td>
            <td th:text="${user.lastName}">a</td>
        </tr>
    </table>
</body>
</div>
</html>